.myModal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.myModalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    min-width: 500px;
    min-height: 300px;
}

.myModalActive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadein .5s ease;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}